# https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#projects
{{- $sourceRepos := list }}
{{- range $k, $v := .Values.apps }}
  {{- if $v.enabled }}
    {{- range $key, $values := $v.charts }}
      {{- $sourceRepos = append $sourceRepos .spec.source.repoURL }}
    {{- end }}
  {{- end }}
{{- end }}
{{- $namespaces := list }}
{{- range $k, $v := .Values.apps }}
  {{- if $v.enabled }}
    {{- $namespaces = append $namespaces $v.namespace }}
  {{- end }}
{{- end }}
{{- $namespaces = append $namespaces .Release.Namespace }}
{{- if .Values.apps.certificates.enabled }}
{{- $namespaces = append $namespaces "kube-system" }}
{{- end }}
---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ include "kube-components-stack.fullname" . }}
  annotations:
    helm.sh/hook-weight: "-1"
spec:
  clusterResourceWhitelist:
  - group: admissionregistration.k8s.io
    kind: MutatingWebhookConfiguration
  - group: admissionregistration.k8s.io
    kind: ValidatingWebhookConfiguration
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
  - group: apiregistration.k8s.io
    kind: APIService
  - group: ""
    kind: Namespace
  - group: policy
    kind: PodSecurityPolicy
  - group: rbac.authorization.k8s.io
    kind: ClusterRole
  - group: rbac.authorization.k8s.io
    kind: ClusterRoleBinding
  - group: networking.k8s.io
    kind: IngressClass
{{- if .Values.apps.certificates.enabled }}
  - group: cert-manager.io
    kind: ClusterIssuer
{{- end }}
  destinations:
  {{- range $namespaces | uniq }}
  - namespace: {{ . }}
    server: {{ $.Values.global.application.spec.destination.server }}
  {{- end }}
  sourceRepos:
  {{- range $sourceRepos | uniq }}
  - {{ . }}
  {{- end }}